@import './common.style';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;600;800&display=swap');

:root {
	font-family: "Inter Tight", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	width: 100%;
	min-width: 100vh;
	min-height: 100vh;
	overflow-x: hidden;
}

#root {
	width: 100%;
}

* {
	box-sizing: border-box;
}
